<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>


    <div class="blogs content">
    <h2>About Us</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga perferendis culpa eaque sit, illo dolore. Itaque voluptates fuga vero accusamus sunt dolor tempore? Assumenda beatae rerum ipsum, voluptatum et labore voluptatem, dolorem eaque ex officia cum sapiente explicabo est iusto quo mollitia delectus deserunt? Error est officia ipsam illo eveniet.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga perferendis culpa eaque sit, illo dolore. Itaque voluptates fuga vero accusamus sunt dolor tempore? Assumenda beatae rerum ipsum, voluptatum et labore voluptatem, dolorem eaque ex officia cum sapiente explicabo est iusto quo mollitia delectus deserunt? Error est officia ipsam illo eveniet.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga perferendis culpa eaque sit, illo dolore. Itaque voluptates fuga vero accusamus sunt dolor tempore? Assumenda beatae rerum ipsum, voluptatum et labore voluptatem, dolorem eaque ex officia cum sapiente explicabo est iusto quo mollitia delectus deserunt? Error est officia ipsam illo eveniet.</p>

    </div>
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>